*{
    margin: 0;
    padding: 0;
}
.container-fluid{
    padding: 0;
    display: grid;
    height: 100vh;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    position: relative;
}
header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
header .item:nth-of-type(1){
    background-color: #cf6700;
}
header .item:nth-of-type(2){
    background-color: #54524f;
}
header .item:nth-of-type(3){
    background-color: #b52924;
}
section{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
section:nth-of-type(1) .item:nth-of-type(1){
    background-color: yellow;
}
section:nth-of-type(1) .item:nth-of-type(2){
    background-color: orange;
}
section:nth-of-type(1) .item:nth-of-type(3){
    background-color: sandybrown;
}
section:nth-of-type(1) .item:nth-of-type(4){
    background-color: rebeccapurple;
}
section:nth-of-type(1) .item:nth-of-type(5){
    background-color: saddlebrown;
}
section:nth-of-type(2) .item:nth-of-type(1){
    background-color: orange;
}
section:nth-of-type(2) .item:nth-of-type(2){
    background-color: yellow;
}
section:nth-of-type(2) .item:nth-of-type(3){
    background-color: orange;
}
section:nth-of-type(2) .item:nth-of-type(4){
    background-color: yellowgreen;
}
section:nth-of-type(2) .item:nth-of-type(5){
    background-color: orange;
}
h1{
    color: #fff;
    font-weight: 300;
    font-size: 60px;
    font-stretch: expanded;
}
h1:after{
    content:"";
    display: block;
    margin: 0 auto;
    width: 30%;
    padding-top: 20px;
    border-bottom: 2px solid red;
}
div .item{
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 200px;
    height: 200px;
}
.container-fluid .icon1 {
    display: grid;
    position: absolute;
    left: 0;
    font-size: 30px;
    top: 30px;
    background-color: #fff;
    height: 40px;
    width: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.container-fluid .icon2{
    display: grid;
    position: absolute;
    right: 0;
    font-size: 30px;
    top: 30px;
    background-color: #a52834;
    height: 40px;
    width: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
}